@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	color: white;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	cursor: pointer;
}


:root {
	--color-main: rgb(84, 140, 253);
	;
	--color-background: #141517;
	--color-basic-font: #fff;
}

html,
body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: black;
}


.btn_login {
	font-size: 1rem;
	width: auto;
	padding: 10px;
	border: 2px solid var(--color-main);
	border-radius: 4px;
	background-color: transparent;
	color: var(--color-main);
	transition: all ease-in-out 300ms;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 5%;
	padding: 1% 2%;
}

.logo_img {
	height: 60px;
	width: 100px;
}


.div_loginform {
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginout_form {
	display: flex;
	flex-direction: column;
	height: auto;
	text-align: center;
	align-items: center;
	width: 350px;
	gap: 10px;
}

.h_login {
	margin: 18px 0;
}

h3 {
	padding: 17px 0;
	font-size: 1.7rem;
	background-color: transparent;
	color: var(--color-basic-font);
}

.h_login div {
	font-size: 1rem;
}

.joinInputBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.id_text,
.pwd_text,
.sign_input {
	height: 45px;
	width: 350px;
	color: var(--color-basic-font);
	font-size: 1rem;
	border-radius: 4px;
	border: none;
	padding: 0 10px;
	background-color: rgba(255, 255, 255, 0.101);
}

.btn_loginout {
	font-size: 1.2rem;
	height: 50px;
	width: 350px;
	color: var(--color-main);
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid var(--color-main);
	transition: ease-in-out all 300ms;
}

.btn_loginout:hover,
.btn_login:hover {
	cursor: pointer;
	color: var(--color-basic-font);
	background-color: var(--color-main);
}

.loginout_bottom button {
	color: rgb(129, 218, 197);
	padding: 0 5px;
	font-size: 1rem;
}

.loginout_bottom button:hover {
	text-decoration: underline;
}

.fa-circle-chevron-left {
	color: var(--color-basic-font);
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}

.fa-circle-chevron-left:hover {
	cursor: pointer;
	color: var(--color-main);
	transform: translateX(-10px) scale(1.2);
}

input:focus {
	outline: 1.5px solid rgb(129, 218, 197);
	background-color: var(--color-background);
	color: white;
}


.errorDiv {
	font-size: 0.9rem;
	height: 40px;
	width: 500px;
	text-align: center;
	color: rgb(112, 157, 248);
	line-height: 40px;
	margin-bottom: 5px;
}

.btn_back_login {
	width: 100%;
	display: flex;
	justify-content: space-between;
}