* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    list-style: none;
    background-color: transparent;
}

button {
    border: none;
}

ul {
    list-style: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
}

.choice_profile_header {
    font-size: 2.3rem;
    margin: 4% 0 -2% 0;
    background-color: transparent;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    padding: 1% 2%;
}

.logo_img {
    height: 60px;
    width: 100px;
}

a {
    color: white;
    text-decoration: none;
}

.choice_profile ul {
    padding: 6% 8%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choice_profile span {
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    padding: 20px 0 0 0;
    background-color: transparent;
    border: none;
    text-align: center;
}

.choice_profile img {
    width: 170px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.091);
}

.profiledetail {
    margin: 10px 20px;
    padding: 30px 10px;
    border: 2px solid transparent;
    transition: transform 0.5s ease-in-out;
}

.profiledetail:hover {
    cursor: pointer;
    border: 2px solid rgb(112, 157, 248);
    border-radius: 20px;
    transform: translate(0px, -30px);
}

.btn_profile_chg {
    width: 160px;
    height: 55px;
    font-size: 1.2rem;
    border: none;
    color: rgb(152, 152, 152);
    border-radius: 40px;
    background-color: rgba(186, 184, 184, 0.026);
}

.btn_profile_chg:hover {
    cursor: pointer;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.214);
}

.not_prem {
    display: none;
}

.btn_update_profile {
    font-size: 20px;
    background-color: transparent;
    color: gray;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn_update_profile:hover {
    color: rgb(112, 157, 248);
    border: 2px solid rgb(112, 157, 248);
}